h1{
    text-align: center;
    font-family: monospace;
    font-style: italic;
    color :white;
    font-size : 80px; 
    background-color:pink;
}
h2{
    align-content: center;
    position: relative;
    padding: 50px 50px;
    background-color:pink;
}
*{
    background-color: pink;
}